body {
    background-image: url(../img/back\ fotos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    header{
        display: flex;
        justify-content:space-between;  
        align-items: center;
    }
    .logo {
        width: 150px;
        height: 150px;
        display: flex;
        padding: 20px;
        border-radius: 100px;
        
    }
    .navbar{
        background-image: url(../img/navbar.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .navbar-collapse{
        flex-grow: 0;
        text-align: end;
    }
    .navbar-nav{
        display: flex;
    }
    .nav-link {
        color: white;
        font-family: "JosefinSans";
        font-weight: 500;
    }
    .nav-link:hover{
        color: yellow;
    }
    .title h1{
        background-color: rgb(1, 50, 32);
        font-family: "teko";
        font-weight: 700;
        font-size: larger;
        color: white;
        text-align: center;
        margin: 20px;
        height: 30px;
    }
    div{
        display: grid;
    
        .descuentos1{
            display:flex;
            justify-content: space-around;
        
            .img-1 {
                display: flex;
                justify-content: start;
                margin: 20px;
                border:dashed rgb(79, 121, 66);
                
                
            }
            .img-2 {
                display: flex;
                justify-content: end;
                margin: 20px;
                border: dashed rgb(79, 121, 66);
                
            }
            }
        }
        .mdp h4{
            text-align: center;
            font-family: "JosefinSans";
            font-weight: 700;
            font-size: medium;
            color: white;
            background-color: rgb(1, 50, 32);
            margin: 30px;
            padding: 10px;
            
        }

        .descuentos2{
            display: flex;
            justify-content: space-around;
            padding: 10px;
            .mediodepago{
                display: flex;
            }
}
footer{
    display: flex;
    font-family:"JosefinSans";
    font-weight: 200;
    font-size: small;
    text-align: center;
    margin: 20px;
}
}
@media (max-width: 600px){
    .descuentos1 {
        flex-direction: column;
    }
    img{
        width: 350px;
    }
    .descuentos2{
        height: auto;
    }
    footer img{
        width: 10px;
        height: 10px;
    }
    }
   



