.beneficios {
    background-color: black;
    header{
        display: flex;
        justify-content:space-between;  
        align-items: center;
    }
    .logo {
        width: 150px;
        height: 150px;
        display: flex;
        padding: 20px;
        border-radius: 100px;
        
    }
    .navbar{
        background-color: black;
        width: 100%;
    }
    .navbar-collapse{
        flex-grow: 0;
        text-align: end;
    }
    .navbar-nav{
        display: flex;
    }
    .nav-link {
        color: white;
        font-family: "JosefinSans";
        font-weight: 500;
    }
    .nav-link:hover{
        color: yellow;
    }
    .title h1{
        background-color: black;
        font-family: "teko";
        font-weight: 700;
        font-size: larger;
        color: white;
        border: solid yellow;
        text-align: center;
        margin: 20px;
        height: 30px;
    }
    div{
        display: grid;
    
        .descuentos1{
            display:flex;
            justify-content: space-around;
            background-image: url(../img/turista\ cima.png);
            opacity: 50px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
    
            .img-1 {
                display: flex;
                justify-content: start;
                margin: 20px;
                padding: 30px;
                border-radius: 60px;
            }
            .img-2 {
                display: flex;
                justify-content: end;
                padding: 30px;
                margin: 20px;
                border-radius: 60px;
                
            }
            }
        }
        .descuentos2{
            display: flex;
            justify-content: space-evenly;
            
            .texto-1 {
                display: flex;
                color: black;
                width: 300px;
                height: 250px;
                margin: 150px;
                padding: 30px;
                text-align: center;   
                background-color: white;
            }
            
            .texto-2 {
                display: flex;
                color: black;
                width: 300px;
                height: 250px;
                margin: 150px;
                padding: 30px;
                text-align: center;
                background-color:white;
            }
            }
}
@media (max-width: 600px){
    .descuentos1 {
        flex-direction: column;
    }
    img{
        width: 250px;
        height: 400px;
    }
    .descuentos2{
        flex-direction: column;
        
    }
}
   

