body{
    background-image: url(../img/back\ fotos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    header{
        display: flex;
        justify-content:space-between;  
        align-items: center;

        .logo {
            width: 150px;
            height: 150px;
            display: flex;
            padding: 20px;
            border-radius: 100px;
            
        }
        .navbar{
            background-image: url(../img/navbar.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .navbar-collapse{
            flex-grow: 0;
            text-align: end;
        }
        .nav-link {
            color: white;
            font-family: "JosefinSans";
            font-weight: 500;
        }
        .nav-link:hover{
            color: rgb(1, 50, 32);
        }
    }
    .title-contacto h1{
        background-color: black;
        font-family: "teko";
        font-weight: 700;
        font-size: larger;
        color: white;
        background-color: rgb(1, 50, 32);
        text-align: center;
        margin: 20px;
    }
    .contacto{
        display: flex;
        justify-content: space-between;

        .whatsapp{
            display: flex;
            margin: 20px;
            padding: 10px;

        }
        .instagram{
            display: flex;
            margin: 20px;
            padding: 10px;

        }
        .gmail{
            display: flex;
            margin: 20px;
            padding: 10px;

        }
        .facebook{
            display: flex;
            margin: 20px;
            padding: 10px;

        }
    }
footer{
    display: flex;
    font-family:"JosefinSans";
    font-weight: 200;
    font-size: small;
    text-align: center;
    margin: 20px;
}
}
@media (max-width: 600px){
    .contacto{
        flex-direction: column;
        padding: 40px;
    }
}
@media (max-width: 768px ){
    .contacto{
        flex-direction: column;
        
    }
}
