body {
  background-image: url(../img/back\ fotos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .logo {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 20px;
  border-radius: 100px;
}
body .navbar {
  background-image: url(../img/navbar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
body .navbar-collapse {
  flex-grow: 0;
  text-align: end;
}
body .nav-link {
  color: white;
  font-family: "JosefinSans";
  font-weight: 500;
}
body .nav-link:hover {
  color: rgb(1, 50, 32);
}
body .prime {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgb(1, 50, 32);
  font-family: "JosefinSans";
  font-weight: 500;
  margin: 10px;
}
body .card {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  border: none;
  background-color: initial;
}
body .tarjeta1 {
  display: grid;
  grid-template-columns: 500px;
  justify-self: start;
  margin: 50px;
  padding: 10px;
  background-color: rgb(1, 50, 32);
  border-radius: 30px;
}
body .tarjeta1 p {
  color: white;
  font-family: "JosefinSans";
  font-weight: 700;
  font-size: larger;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
body .tarjeta1 img {
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  border: solid white;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .tarjeta2 {
  display: grid;
  grid-template-columns: 500px;
  justify-self: end;
  margin: 50px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(1, 50, 32);
}
body .tarjeta2 p {
  color: white;
  text-align: center;
  font-family: "JosefinSans";
  font-weight: 700;
  font-size: larger;
  margin: 10px;
  padding: 10px;
}
body .tarjeta2 img {
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  border: solid white;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .informacion {
  display: flex;
  flex-direction: column;
}
body .caja1 {
  display: flex;
  margin: 10px;
}
body .caja2 {
  display: grid;
  margin: 50px;
}
body iframe {
  display: flex;
  justify-self: center;
}
body h4 {
  font-family: "JosefinSans";
  font-weight: 700;
  font-style: oblique;
  color: white;
  background-color: rgb(1, 50, 32);
  text-decoration: underline;
  text-align: center;
  margin: 10px;
}
body footer {
  display: flex;
  font-family: "JosefinSans";
  font-weight: 200;
  font-size: small;
  text-align: center;
  margin: 20px;
}

@media (max-width: 600px) {
  .card {
    display: flex;
    justify-content: center;
  }
  .tarjeta1 {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .tarjeta2 {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  iframe {
    width: 300px;
  }
}

/*# sourceMappingURL=index.css.map */
