body{
        background-image: url(../img/back\ fotos.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
            
    header{
        display: flex;
        justify-content:space-between;  
        align-items: center;

        .logo {
            width: 150px;
            height: 150px;
            display: flex;
            padding: 20px;
            border-radius: 100px;
            
        }
        .navbar{
            background-image: url(../img/navbar.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
        }
        .navbar-collapse{
            flex-grow: 0;
            text-align: end;
        }
        .nav-link {
            color: white;
            font-family: "JosefinSans";
            font-weight: 500;
        }
        .nav-link:hover{
            color: rgb(1, 50, 32);
        }
    }
    .title h1{
        background-color:rgb(1, 50, 32);
        font-family: "teko";
        font-weight: 700;
        font-size: larger;
        color: white;
        text-align: center;
        margin: 20px;
    }
            
    .kempes{
            display: flex;
            justify-content: space-around;
            
        .calendario{
            display: flex;
            
        }
        .formulario{
            display: flex;
            flex-direction: column;
            height: 500px;
            color: black;
            background-color: rgb(178, 132, 190);
            border: solid rgb(32, 114, 175);
            font-family: "JosefinSans";
            font-weight: 300;
            text-align: center;
            padding: 20px;

                .form-select{
                    margin: 10px;
                    padding: 10px;
                    border: solid black 2px;
            }
                .input-group {
                    margin: 10px !important;
                    padding: 10px;

                    .input-group-text{
                        border: solid black 2px;
                    }
                    .form-control{
                        border: solid black 2px;
                    }
                    
            }
                .horarios{
                    margin: 10px;
                    padding: 10px;
                    
                    #time-am-pm{
                        border: solid black 2px;
                    }
                    
            }
                button{
                    margin: 10px;
                    padding: 10px;
                    
            }
                .alert{
                    margin: 10px;
                    padding: 10px;
                    
            }
                
            
        }
    }
    .kempes1{
        display: flex;
        justify-content: center;

            .reservas{
            display: flex;
            color: black;
            font-family: "JosefinSans";
            font-weight: 600;
            background-color: rgb(178, 132, 190);
            width: 800px;
            margin: 30px;
            padding: 20px;
            align-self: flex-end;
            border: solid rgb(32, 114, 175);
        }
    }
footer{
    display: flex;
    font-family:"JosefinSans";
    font-weight: 200;
    font-size: small;
    text-align: center;
    margin: 20px;
    }
}
@media (max-width: 600px){
    
    .kempes {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
    .formulario{
        flex-direction: column;
        margin: 20px;
    }
    .reservas{
        flex-direction: column;
        height: 600px;
    }
    
}
