body{
    background-color: black;
}
.fondo-principal {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    display: flex;
    justify-content:space-between;  
    align-items: center;
}
img {
    width: 150px;
    height: 150px;
    display: flex;
    padding: 20px;
}
@font-face {
    font-family:"teko";
    src: url("../font/Teko-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family:"teko";
    src: url("../font/Teko-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family:"teko";
    src: url("../font/Teko-Medium.ttf");
    font-weight: 500;
}
.navbar{
    background-color: gray;
    border: solid white;
    width: 100%;
}
.navbar-collapse{
    flex-grow: 0;
    text-align: end;
}
.nav-link {
    color: white;
    font-family: "teko";
    font-weight: 700;
}
.carousel-inner {
    width: 100%;
    height: 100%;
    padding: 30px;
}
.carousel-inner img{
    width: 300px;
    height: 450px;
}
.carousel-caption h5{
    background-color: white;
    color: black;
    font-family: "teko";
    font-weight: 900;
}
.carousel-caption p{
    color: white;
    background-color: black;
    border: solid yellow;
    font-family: "arial";
    font-weight: 500;
}

.nosotros{
    background-color: black;
}

.titulo{
    display: flexbox;
    
}
h1{
    font-family: "teko";
    font-weight: 700;
    font-size: larger;
    color: white;
    border: solid yellow;
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.titulo p{
    text-align: center
}
.conteiner{
    display: flex;
    
}
.row{
    display: flexbox;
    margin: 10px;
    padding: 10px;
}
h3{
    font-family: "teko";
    font-weight: 500;
    color: black;   
    background-color: gold;
    text-align: center; 
    border: solid white
}
p{
    font-family: "teko";
    font-weight: 500;
    color: white;
    text-align: center;
}
.box1{
    display: flexbox;
    background-image: url(../img/mision.png);
    background-size: cover;
    background-position: center;
    width: 100%;

}
.box2{
    display: flexbox;
    background-image: url(../img/vision.jpg);
    background-size: cover;
    background-position: center;
    width:100%;

}
.box3{
    display: flexbox;
    background-image: url(../img/valores.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    
}

.beneficios {
    background-color: black;
}
.contacto{
    background-color: black;
}
.kempes{
    background-color: black;
}
.paquetes{
    background-color: black;
}
.planea-tu-viaje{
    background-color: black;

}

@media (min-whitd:414px) and (max-whitd:1200px) {
    img { 
        width: 50px;
        height: 50px; }

    .carousel-inner{
        width:100px;
        height: 200px;
    }
    .carousel-inner img{
        width: 10px;
        height: 50px;
    }

}